.header {
  position: relative;
}

.header__item {
  margin-right: 10px;
  background-color: black;
  color: white;
  padding: 10px;
}

.header__items {
  display: flex;
  color: green;
  padding: 10px;
  border: 1px black solid;
}
